# Backend dependencies
fastapi
uvicorn
python-dotenv
# Pydantic and related packages
pydantic

# Authentication packages
python-jose[cryptography]
passlib[bcrypt]

# Langchain components
langchain
langchain-openai
langsmith
langchain-core
langchain-text-splitters
openai
tiktoken
python-multipart
beanie
motor